# This is a basic workflow to help you get started with Actions

name: Stratus Test

# Controls when the action will run.
on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
      - name: Run
        run: |
          echo "Log level: ${{ github.event.inputs.logLevel }}"
          sleep 60
          echo "Tags: ${{ github.event.inputs.tags }}"
          if [${{ github.event.inputs.tags }} = 'error' ]; then
            echo "Error!" > logfile.log
            exit 125
          fi
